@using NewCrmCore.Dto
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
    var apps = ViewData["SystemApp"] as IList<AppDto>;
}
@section ChildrenCss
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}

<div class="alert_addapps">
    @{
        foreach (var appDto in apps)
        {
            <div class="app" title="@appDto.Name" appid="@appDto.Id">
                <img src="@appDto.IconUrl" alt="@appDto.Name" title="@appDto.Name" />
                <div class="name">@appDto.Name</div>
                <span class="selected"></span>
            </div>
        }
    }
    <input type="hidden" id="value_1" />
</div>
@section ScriptLabel
{
    <script src="~/js/pagelogic/security_addsystemappgotopower.js"></script>
}
