@using NewCrmCore.Dto
@using NewCrmCore.Infrastructure.CommonTools
@model IList<AppDto>
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
    var rolePowerResult = ViewData["RolePowerResult"] as RoleDto;
    if (rolePowerResult == null)
    {
        rolePowerResult = new RoleDto();
    }
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        * {
            box-sizing: unset;
        }
    </style>
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<form action="/security/addapptorole" method="post" name="form" id="form">
    <input type="hidden" name="val_roleId" value="@Context.Request.Query["roleId"]" />
    <input type="hidden" name="token" value="@(await TimeToken.GetFormTokenAsync())" />
    <div class="creatbox">
        <div class="middle">
            <p class="detile-title">
                <strong>角色添加权限</strong>
            </p>
            <div class="input-label">
                <label class="label-text">角色名称：</label>
                <div class="form-inline">
                    @{
                        if (rolePowerResult.Name == null)
                        {
                            <text> <input class="form-control" disabled="disabled" type="checkbox" name="val_name" value="" datatype="s2-10" nullmsg="请输入角色名称" errormsg="角色名称长度为2-10个字符"></text>
                        }
                        else
                        {
                            <text> <input class="form-control" disabled="disabled" type="text" name="val_name" value="@rolePowerResult.Name" datatype="s2-10" nullmsg="请输入角色名称" errormsg="角色名称长度为2-10个字符"></text>
                        }
                    }

                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="input-label">
                <label class="label-text">专属应用：</label>
                <div class="form-inline">
                    <div class="permissions_apps">
                        @{
                            foreach (var appDto in Model)
                            {
                                <div class="app" appid="@appDto.Id">
                                    <img src="@appDto.IconUrl" alt="@appDto.Name" title="@appDto.Name">
                                    <span class="del">删</span>
                                </div>
                            }
                        }
                    </div>
                    <a class="btn btn-primary" href="###" menu="addapps">添加应用</a>
                    <input type="hidden" name="val_apps_id" id="val_apps_id" value="@String.Join(",", Model.Select(s => s.Id))" @*datatype="*" nullmsg="请选择专属应用" *@>
                    <span class="help-inline"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="con">
            <a class="btn btn-primary fr" id="btn-submit" href="###"><i class="oi oi-check"></i> 确定</a>
            <a class="btn fr" href="javascript:window.parent.closeDetailIframe();" style="margin-right: 10px"><i class="oi oi-chevron-top"></i> 返回角色列表</a>
        </div>
    </div>
</form>
@section ScriptLabel
{
       <script src="~/js/pagelogic/security_attachmentpower.js"></script>    
}

