@using NewCrmCore.Dto
@using NewCrmCore.Infrastructure.CommonTools
@{
	Layout = "~/Views/Shared/_LayoutApps.cshtml";

	var roleResult = ViewData["RoleResult"] as RoleDto;
	if (roleResult == null)
	{
		roleResult = new RoleDto();
	}

	var roleId = Context.Request.Query["roleId"];
}

<form action="/Security/CreateRole?roleId=@roleId" method="post" id="form" name="form">
	<div class="creatbox">
		<input type="hidden" name="token" value="@TimeToken.GetTokenAsync()" />
		<input type="hidden" id="roleId" name="roleId" value="@roleId" />
		<div class="middle" style="overflow: hidden; position: inherit; bottom: 0px;">
			<div class="input-label">
				<label class="label-text">角色名称：</label>
				<div class="label-box form-inline control-group">
					@{
						if (roleResult.Name == null)
						{
							<text>
								<input type="text" class="text" name="val_roleName" id="val_roleName" ajaxurl="@Url.Action("CheckName","Security")" value="" datatype="s2-10" nullmsg="请输入角色名称" errormsg="角色名称长度为2-10个字符" />
							</text>
						}
						else
						{
							<text>
								<input type="text" class="text" name="val_roleName" id="val_roleName" ajaxurl="@Url.Action("CheckName","Security")" value="@roleResult.Name" datatype="s2-10" nullmsg="请输入角色名称" errormsg="角色名称长度为2-10个字符" />
							</text>
						}
					}

					<span class="help-inline"></span>
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">角色标识：</label>
				<div class="label-box form-inline control-group">

					@{
						if (roleResult.RoleIdentity == null)
						{
							<text>
								<input type="text" class="text" name="val_roleIdentity" id="val_roleIdentity" ajaxurl="@Url.Action("CheckRoleIdentity","Security")" value="" datatype="s2-20" nullmsg="请输入角色标识" errormsg="角色标识长度为2-20个字符" />
							</text>
						}
						else
						{
							<text>
								<input type="text" disabled="disabled" class="text" name="val_roleIdentity" id="val_roleIdentity" value="@roleResult.RoleIdentity" datatype="s2-20" nullmsg="请输入角色标识" errormsg="角色标识长度为2-20个字符" />
							</text>
						}
					}
					<span class="help-inline"></span>
				</div>
			</div>

		</div>
	</div>
	<div class="bottom-bar">
		<div class="con">
			<a class="btn btn-primary fr" id="btn-submit" href="javascript:;"><i class="icon-white icon-ok"></i> 确定</a>
			<a class="btn fr" href="javascript:window.parent.closeDetailIframe();" style="margin-right: 10px"><i class="icon-chevron-up"></i> 返回角色列表</a>
		</div>
	</div>
</form>
@section ChildrenScript
	{
	<script>
        $(function () {
            $('#form').Validform({
                btnSubmit: '#btn-submit',
                postonce: false,
                showAllError: true,
                tiptype: function (msg, o) {
                    if (!o.obj.is('form')) { //验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                        var B = o.obj.parents('.control-group');
                        var T = B.children('.help-inline');
                        if (o.type === 2) {
                            B.removeClass('error');
                            T.text('');
                        } else {
                            B.addClass('error');
                            T.text(msg);
                        }
                    }
                },
                ajaxPost: true,
                callback: function (responseText) {
                    if (responseText.IsSuccess) {
                        if ('@roleId') {
                            $.dialog({
                                id: 'ajaxedit',
                                content: '修改成功，是否继续修改？',
                                okVal: '是',
                                ok: function () {
                                    $.dialog.list['ajaxedit'].close();
                                },
                                cancel: function () {
                                    window.parent.closeDetailIframe(function () {
                                        window.parent.$('#pagination').trigger('currentPage');
                                    });
                                }
                            });
                        } else {
                            $.dialog({
                                id: 'ajaxedit',
                                content: '添加成功，是否继续添加？',
                                okVal: '是',
                                ok: function () {
                                    location.reload();
                                    return false;
                                },
                                cancel: function () {
                                    window.parent.closeDetailIframe(function () {
                                        window.parent.$('#pagination').trigger('currentPage');
                                    });
                                }
                            });
                        }
                    } else {
                        NewCrm.msgbox.fail(responseText.Message);
                    }
                }
            });
        });
	</script>
}

