<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link rel="shortcut icon" href="~/favicon.ico" />
 	<link rel="stylesheet" href="/css/hoorayui/globle.css" />
	@RenderSection("ChildrenCss",required: false)
	<link rel="stylesheet" href="/js/hooray/lib/hooraylibs.css" />  
	@RenderSection("IndexCss", required: false)
	@RenderSection("SysCss",required: false)
</head>
<body>
	@RenderBody()
</body>
</html>
<environment names="Development" asp-append-version="true">
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/signalr/signalr.js"></script>
	<script src="/js/hooray/jquery-browser.js"></script>
	<script src="/js/hooray/lib/hooraylibs.js"></script>
	<script src="/js/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/sugar/sugar-1.4.1.min.js"></script>
	<script src="/js/hooray/hros.min.js"></script>
	<script src="/js/validate/Validform_v5.3.2/Validform_v5.3.2_min.js"></script>
	<script src="/js/webuploader-0.1.5/webuploader.min.js"></script>
	<script src="/js/artDialog4.1.7/jquery.artDialog.source.js"></script>
	<script src="/js/artDialog4.1.7/plugins/iframeTools.js"></script>
	<script src="/js/handlebars/handlebars.runtime-v4.0.11.js"></script>
</environment>
<environment names="Production" asp-append-version="true">
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/newcrm.site.min.js"></script>
	<script src="/js/handlebars/handlebars.runtime-v4.0.11.js"></script>
</environment>


@RenderSection("ChildrenTemplate",required: false)
<script>
	//toolTip
	$('[rel="tooltip"]').tooltip();
	//表单提示
	$("[datatype]").focusin(function () {
		$(this).parent().addClass('info').children('.infomsg').show().siblings('.help-inline').hide();
	}).focusout(function () {
		$(this).parent().removeClass('info').children('.infomsg').hide().siblings('.help-inline').show();
	});

	openDetailIframe = function (url) {
		$('#detailIframe iframe').attr('src', url).on('load', function () {
			$('body').css('overflow', 'hidden');
			$('#detailIframe').animate({ 'top': 0, 'opacity': 'show' }, 500);
		});
	};
	closeDetailIframe = function (callback) {
		$('body').css('overflow', 'auto');
		$('#detailIframe').animate({ 'top': '-100px', 'opacity': 'hide' }, 500, function () {
			if (callback) {
				callback && callback();
			}
		});
	};

	function initPagination(config) {
		$('#pagination').pagination(parseInt($('#pagination_setting').attr('count')), {
			current_page: config.current_page,
			items_per_page: config.items_per_page,
			num_display_entries: config.num_display_entries,
			num_edge_entries: config.num_edge_entries,
			callback: config.getPageList,
			prev_text: '上一页',
			next_text: '下一页'
		});
	}
	$(function(){
		@RenderSection("ChildrenScript", false)
	})
</script>