<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="/css/hoorayui/globle.css" />
    @RenderSection("ChildrenCss", required: false)
    <link rel="stylesheet" href="/js/hooray/lib/hooraylibs.css" />
    @RenderSection("IndexCss", required: false)
    @RenderSection("SysCss", required: false)
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <style>
        * {
            font-size: 12px !important;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-browser/0.1.0/jquery.browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcss.com/sugar/2.0.4/sugar.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdn.bootcss.com/mousetrap/1.6.1/mousetrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<environment names="Development" asp-append-version="true">
    <script src="/js/hooray/lib/hooraylibs.js"></script>
    <script src="/js/hooray/hros.min.js"></script>
    <script src="/js/validate/Validform_v5.3.2/Validform_v5.3.2_min.js"></script>
    <script src="/js/artDialog4.1.7/jquery.artDialog.source.js"></script>
    <script src="/js/artDialog4.1.7/plugins/iframeTools.js"></script>
    <script src="https://cdn.bootcss.com/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="/js/signalr/signalr.min.js"></script>
    <script src="/js/lobibox/lobibox.js"></script>
</environment>
<environment names="Production" asp-append-version="true">
    <script src="/js/hooray/lib/hooraylibs.js"></script>
    <script src="/js/newcrm.site.min.js"></script> 
    <script src="https://cdn.bootcss.com/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="/js/signalr/signalr.min.js"></script>
    <script src="/js/lobibox/lobibox.js"></script>
</environment>

<script src="~/js/pagelogic/root_layout_init.js"></script>
@RenderSection("ChildrenTemplate", required: false)
@RenderSection("ScriptLabel", false)
<script>
    $(() => {
		@RenderSection("ChildrenScript", false)
    })
</script>