@using NewCrmCore.Dto
@using NewLibCore
@using NewCrmCore.Domain.ValueObject
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 10px 10px 0;
        }

        .appicon {
            width: 32px;
            height: 32px;
        }

        .appname {
            margin-left: 10px;
        }
    </style>
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}

<div class="well well-small" style="padding-bottom:0;margin-bottom:10px;background-color:#f5f5f5;border:1px solid #e3e3e3;min-height:20px;padding:9px">
    <div class="form-inline">
        <div class="form-group" style="margin-bottom:10px">
            <label>名称：</label>
            <input type="text" name="search_1" id="appName" class="span5 form-control">
        </div>
        <a class="btn btn-primary ml-3 mb-3" menu="search" href="###"><i class="oi oi-magnifying-glass"></i> 搜索</a>
        <a class="btn btn-primary ml-auto mb-3" href="javascript:openDetailIframe('/appmarket/userappmanageinfo?appId=0');"><i class="oi oi-plus"></i> 添加新应用</a>
        <div class="form-group">
            <label>分类：</label>
            <select name="appType" id="appType" style="width:140px" class="form-control">
                <option value="0">全部</option>
                @{
                    foreach (var appType in (List<AppTypeDto>)ViewData["AppTypes"])
                    {
                        <text>
                            <option value="@appType.Id">@appType.Name</option>
                        </text>
                    }
                }
            </select>
            <label style="margin-left:10px">类型：</label>
            <select name="appStyle" id="appStyle" style="width:140px" class="form-control">
                <option value="0">全部</option>
                @{
                    foreach (var appStyle in (List<AppStyleDto>)ViewData["AppStyles"])
                    {
                        <text>
                            <option value="@appStyle.Id">@appStyle.Name</option>
                        </text>
                    }
                }
            </select>
            <label style="margin-left:10px">状态：</label>
            <select name="appState" id="appState" style="width: 140px" class="form-control">
                <option value="0">全部</option>
                @{
                    foreach (var appState in (List<AppStateDto>)ViewData["AppStates"])
                    {
                        <text>
                            <option value="@appState.Id" data-type="@appState.Type">@appState.Name</option>
                        </text>
                    }
                }
            </select>
        </div>
    </div>
</div>
<table class="list-table">
    <thead>
        <tr class="col-name">
            <th style="width:50px">应用ID</th>
            <th>应用名称</th>
            <th style="width:100px">类型</th>
            <th style="width:100px">分类</th>
            <th style="width:50px">使用人数</th>
            <th style="width:240px">操作</th>
        </tr>
        <tr class="sep-row"><td colspan="100"></td></tr>
        <tr class="toolbar">
            <td colspan="100">
                <b style="margin:0 10px">符合条件的记录</b>有<font class="list-count">0</font>条
            </td>
        </tr>
        <tr class="sep-row"><td colspan="100"></td></tr>
    </thead>
    <tbody class="list-con"></tbody>
    <tfoot>
        <tr>
            <td colspan="100">
                <nav aria-label="Page navigation example"></nav>
                <input id="pagination_setting" type="hidden" per="10">
            </td>
        </tr>
    </tfoot>
</table>
<div id="detailIframe" style="background:#fff;position:fixed;z-index:1;top:-100px;left:0;width:100%;height:100%;display:none">
    <iframe frameborder="0" style="width:100%;height:100%"></iframe>
</div>
<input type="hidden" id="wait" value="@(AppAuditState.Wait)" /> 
<input type="hidden" id="pass" value="@(AppAuditState.Pass)" /> 
<input type="hidden" id="fileUrl" value="@(NewCrmCore.Infrastructure.Appsetting.FileUrl)" /> 

@section ChildrenTemplate{
    <script id="table-template" type="text/x-handlebars-template">
        {{#each Model}}
        <tr class="list-bd">
            <td>{{Id}}</td>
            <td style="text-align:left;padding-left:15px">
                <img src="{{appendUrl IsIconByUpload IconUrl}}" alt="{{Name}}" class="appicon">
                <span class="appname">{{Name}}</span>
            </td>
            <td>{{convertstyle AppStyle}}</td>
            <td>{{AppTypeName}}</td>
            <td>{{UseCount}}</td>
            {{#compare AppAuditState 'Wait'}}
            <td>
                <a href="javascript:openDetailIframe('/appmarket/userappmanageinfo?appId={{Id}}');" class="btn btn-link">查看详情</a>
                <a href="###" class="btn btn-link do-del" appid="{{Id}}">删除</a>
            </td>
            {{else}}
            <td>
                {{#isAudit AppAuditState}}
                {{#if IsRecommand }}
                <a href="###" class="btn btn-link" appid="{{Id}}">今日推荐</a>
                {{else}}
                <a href="###" class="btn btn-link do-recommend" appid="{{Id}}">设为推荐</a>
                {{/if}}
                {{else}}
                {{/isAudit}}
                <a href="javascript:openDetailIframe('/appmarket/userappmanageinfo?appId={{Id}}');" class="btn btn-link">查看详情</a>
                {{#if IsCreater}}
                {{#remove IsRecommand}}
                {{else}}
                <a href="###" class="btn btn-link do-del" appid="{{Id}}">删除</a>
                {{/remove}}
                {{/if}}

            </td>
            {{/compare}}
        </tr>
        {{/each}}
    </script>
}
@section ScriptLabel
{
    <script src="~/js/pagelogic/appmanager_index.js"></script>
}

