@using NewCrmCore.Dto
@using NewLibCore
@using NewCrmCore.Domain.ValueObject
@{
	Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
@section ChildrenCss
	{
	<style>
		body {
			margin: 10px 10px 0;
		}

		.appicon {
			width: 32px;
			height: 32px;
		}

		.appname {
			margin-left: 10px;
		}
	</style>
}

<div class="well well-small" style="margin-bottom:10px;padding-bottom:0">
	<div class="form-inline">
		<div class="control-group">
			<label>名称：</label>
			<input type="text" name="search_1" id="appName" class="span5">
			<a class="btn" menu="search" href="###" style="margin-left:10px"><i class="icon-search"></i> 搜索</a>
			<a class="btn btn-primary fr" href="javascript:openDetailIframe('/AppMarket/AccountAppManageInfo?appId=0');"><i class="icon-white icon-plus"></i> 添加新应用</a>
		</div>
		<div class="control-group">
			<label>分类：</label>
			<select name="appType" id="appType" style="width:140px">
				<option value="0">全部</option>
				@{
					foreach (var appType in (List<AppTypeDto>)ViewData["AppTypes"])
					{
						<text>
							<option value="@appType.Id">@appType.Name</option></text>
					}
				}
			</select>
			<label style="margin-left:10px">类型：</label>
			<select name="appStyle" id="appStyle" style="width:140px">
				<option value="0">全部</option>
				@{
					foreach (var appStyle in (List<AppStyleDto>)ViewData["AppStyles"])
					{
						<text>
							<option value="@appStyle.Id">@appStyle.Name</option></text>
					}
				}
			</select>
			<label style="margin-left:10px">状态：</label>
			<select name="appState" id="appState" style="width: 140px">
				<option value="0">全部</option>
				@{
					foreach (var appState in (List<AppStateDto>)ViewData["AppStates"])
					{
						<text>
							<option value="@appState.Id" data-type="@appState.Type">@appState.Name</option></text>
					}
				}
			</select>
		</div>
	</div>
</div>
<table class="list-table">
	<thead>
		<tr class="col-name">
			<th style="width:50px">应用ID</th>
			<th>应用名称</th>
			<th style="width:100px">类型</th>
			<th style="width:100px">分类</th>
			<th style="width:50px">使用人数</th>
			<th style="width:240px">操作</th>
		</tr>
		<tr class="sep-row"><td colspan="100"></td></tr>
		<tr class="toolbar">
			<td colspan="100">
				<b style="margin:0 10px">符合条件的记录</b>有<font class="list-count">0</font>条
			</td>
		</tr>
		<tr class="sep-row"><td colspan="100"></td></tr>
	</thead>
	<tbody class="list-con"></tbody>
	<tfoot>
		<tr>
			<td colspan="100">
				<div class="pagination pagination-centered">
					<div id="pagination"></div>
				</div>
				<input id="pagination_setting" type="hidden" per="10">
			</td>
		</tr>
	</tfoot>
</table>
<div id="detailIframe" style="background:#fff;position:fixed;z-index:1;top:-100px;left:0;width:100%;height:100%;display:none">
	<iframe frameborder="0" style="width:100%;height:100%"></iframe>
</div>
@section ChildrenScript
	{
	<script src="/js/handlebars.runtime-v4.0.11.js"></script>

	<script id="table-template" type="text/x-handlebars-template">
		{{#each Model}}
		<tr class="list-bd">
			<td>{{Id}}</td>
			<td style="text-align:left;padding-left:15px">
				<img src="{{appendUrl IsIconByUpload IconUrl}}" alt="{{Name}}" class="appicon">
				<span class="appname">{{Name}}</span>
			</td>
			<td>{{convertstyle AppStyle}}</td>
			<td>{{AppTypeName}}</td>
			<td>{{UseCount}}</td>
			{{#compare AppAuditState 'Wait'}}
				<td>
					<a href="javascript:openDetailIframe('/AppMarket/AccountAppManageInfo?appId={{Id}}');" class="btn btn-link">查看详情</a>
					<a href="###" class="btn btn-link do-del" appid="{{Id}}" >删除</a>
				</td>
			{{else}}
			<td>
				{{#isAudit AppAuditState}}
					{{#if IsRecommand }}
						<a href="###" class="btn btn-link" appid="{{Id}}">今日推荐</a>
					{{else}}
						<a href="###" class="btn btn-link do-recommend" appid="{{Id}}" >设为推荐</a>
					{{/if}}
				{{else}}
				{{/isAudit}}
				<a href="javascript:openDetailIframe('/AppMarket/AccountAppManageInfo?appId={{Id}}');" class="btn btn-link">查看详情</a>
				{{#if IsCreater}}
					{{#remove IsRecommand}}
					{{else}}
						<a href="###" class="btn btn-link do-del" appid="{{Id}}" >删除</a>
					{{/remove}}
				{{/if}}

			</td>
			{{/compare}}
		</tr>
		{{/each}}
	</script>


	<script>
        $(function () {
            //加载列表
            getPageList(0);
            //删除，推荐
			$('.list-con').on('click', '.do-del', function () {
                var appid = $(this).attr('appid');
                var appname = $(this).parents('tr').children('td:nth-child(2)').text();
                $.dialog({
                    id: 'del',
                    content: '确定要删除 “' + appname + '” 该应用么？',
                    ok: function () {
                        HROS.request.post('/AppManager/Remove', { appId: appid }, function (responseText) {
                            if (responseText.IsSuccess) {
                                $('#pagination').trigger('currentPage');
                            } else {
                                 NewCrm.msgbox.fail(responseText.Message);
                            }
                        });
                    },
                    cancel: true
                });
            }).on('click', '.do-recommend', function () {
                var appid = $(this).attr('appid');
				
                HROS.request.post('/AppManager/Recommend', { appId: appid }, function (responseText) {
                    if (responseText.IsSuccess) {
                        $('#pagination').trigger('currentPage');
                    } else {
                        NewCrm.msgbox.fail(responseText.Message);
                    }
                });

            });
            //搜索
            $('a[menu=search]').click(function () {
                getPageList(0);
            });
        });
		
       

        function getPageList(current_page) {
            var $appStates = $('#appState').find("option:selected");
            var appStateResult = '';
            if (parseInt($appStates.attr('value')) !== 0) {
                appStateResult = $appStates.attr('data-type') + ',' + $appStates.attr('value');
            }

            HROS.request.get('/AppManager/GetApps',
            {
                searchText: $('#appName').val(),
                appTypeId: $('#appType').find("option:selected").attr('value'),
                appStyleId: $('#appStyle').find("option:selected").attr('value'),
                appState: appStateResult,
                pageIndex: current_page === 0 ? 1 : current_page + 1,
                pageSize: 7
            }, function (responseText) {
				if (responseText.IsSuccess) {
                    var tableTemplate = Handlebars.compile($("#table-template").html());
                    $('.list-con').html(tableTemplate(responseText));
                    $('.list-count').text(responseText.TotalCount);
                    $('#pagination_setting').attr('count', parseInt(responseText.totalCount));
                    initPagination({
						current_page: current_page,
						items_per_page: 7,
						num_display_entries: 9,
						num_edge_entries: 2,
						getPageList: getPageList
					})
                } else {
                    NewCrm.msgbox.fail(responseText.Message);
                }
            });

            Handlebars.registerHelper("isAudit", function (v1, options) {
                if (v1 === '@(AppAuditState.Pass)') {
                    return options.fn(this);
                } else {
                    return options.inverse(this);
                }
            })

            Handlebars.registerHelper('convertstyle', function (appStyle) {
                if (appStyle === 1) {
                    return '应用';
                } else {
                    return '挂件';
                }
            });

            Handlebars.registerHelper('appendUrl', function (v1, v2) {
                if (v1) {
                    return "@(NewCrmCore.Infrastructure.Appsetting.FileUrl)"+v2
                }
                return v2
            })

            Handlebars.registerHelper("compare", function (v1, v2, options) {
				
                if (v1 === v2 || v1 === '@(AppAuditState.Wait)') {
                    return options.fn(this);
                } else {
                    return options.inverse(this);
                }
            });

            Handlebars.registerHelper("remove", function (v1, options) {
                if (v1) {
                    return options.fn(this);
                } else {
                    return options.inverse(this);
                }
            });
        }
	</script>
}
