@using NewLibCore
@using NewCrmCore.Dto

@model AppDto
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}

<div class="detail-wrap">
    <div class="app-contents">
        <div class="mbox">
            <div class="title">
                <a href="javascript:window.parent.closeDetailIframe2(function(){window.parent.getPageList(0);});" class="btn-back">返回</a>
            </div>
            <div class="app-title">
                <img src="@(Model.IsIconByUpload?NewCrmCore.Infrastructure.Appsetting.FileUrl+Model.IconUrl:Model.IconUrl)" alt="@Model.Name">
                <span class="app-name">@Model.Name</span>
                <span class="app-desc"><i>@Model.UseCount</i> 人在使用</span>
                @{
                    if (((Boolean)ViewData["IsInstallApp"]))
                    {
                        <text>
                            <a href="###" app_id="@Model.Id" app_type="@Model.AppStyle.ToString().ToLower()" class="btn-run">打开应用</a>
                        </text>
                    }
                    else
                    {
                        <text>
                            <a href="###" app_id="@Model.Id" app_type="@Model.AppStyle.ToString().ToLower()" class="btn-add">添加应用</a>
                        </text>
                    }
                }

                <div class="grade-box">
                    <div class="star-num">@Model.StarCount.ToString("0.0")</div>
                    <div class="star-box">
                        <i style="width:@{var c = Model.StarCount*20; <text>@c%</text>}"></i>
                        <ul>
                            <li class="grade-1" num="1"><a href="###"><em>很不好用</em></a></li>
                            <li class="grade-2" num="2"><a href="###"><em>体验一般般</em></a></li>
                            <li class="grade-3" num="3"><a href="###"><em>比较好用</em></a></li>
                            <li class="grade-4" num="4"><a href="###"><em>很好用</em></a></li>
                            <li class="grade-5" num="5"><a href="###"><em>棒极了，推荐</em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4>应用介绍</h4>
            <h5>
                @{
                    if (Model.UserId == 0)
                    {
                        <text><em>开发者：</em><b style="color:red">平台提供</b></text>
                    }
                    else
                    {
                        <text><em>开发者：</em><b style="color:red">@ViewData["UserName"]</b></text>
                    }
                }

                <em style="margin-left:10px">所属分类：</em>@Model.AppTypeName
                <em style="margin-left:10px">发布时间：</em>@Model.AddTime
            </h5>
            <div class="app-text breakword">@Model.Remark</div>
        </div>
    </div>
</div>
@section ScriptLabel
{
    <script src="~/js/pagelogic/appmarket_appdetail.js"></script>
}
