@using NewCrmCore.Dto
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";

    var appTypes = ViewData["AppTypes"] as List<AppTypeDto>;
    var todayRecommendApp = ViewData["TodayRecommendApp"] as TodayRecommendAppDto;
 
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        * {
            box-sizing: unset;
            overflow: hidden;
        }
    </style>
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<div class="sub-nav tabbable tabs-left">
    <ul class="nav nav-tabs flex-column nav-pills" style="width:57px;">
        <li class="all nav-item active mb-1" value="0"><a href="###" class="nav-link" title="全部">全部</a></li>
        @{
            foreach (var appType in appTypes)
            {
                <li class="nav-item mb-1" value="@appType.Id"><a href="###" class="nav-link" title="@appType.Name">@appType.Name</a></li>
            }
        }

        <li class="myapps nav-item mb-1" value="-1"><a href="###" class="nav-link" title="我的应用">我的<br>应用</a></li>

    </ul>
    <input type="hidden" name="appType" id="appType" value="">
</div>
<div class="wrap">
    <div class="col-sub">
        <div class="search-box input-group">
            <input type="text" name="searchText" class="form-control" id="searchText" placeholder="请输入搜索关键字" style="width:100px" value="">
            <div class="input-group-append" style="z-index:0">
                <button id="searchTextRemove" class="btn" style="padding:4px 5px"><i class="oi oi-x"></i></button>
                <button id="searchTextDo" class="btn" style="padding:4px 5px"><i class="oi oi-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="mbox commend-day">

            <h3>今日推荐</h3>
            <div class="commend-container">
                <a href="javascript:openDetailIframe2('/appmarket/appdetail?appId=@todayRecommendApp.Id');">
                    <img src="@todayRecommendApp.AppIcon" alt="@todayRecommendApp.Name">
                </a>
            </div>
            <div class="commend-text">
                <h4>
                    <strong>@todayRecommendApp.Name</strong>
                    <span>@todayRecommendApp.UseCount 人在用</span>
                </h4>
                <div class="con" title="@todayRecommendApp.Remark">@todayRecommendApp.Remark</div>
                @{
                    if (todayRecommendApp.IsInstall)
                    {
                        <text>
                            <a href="###" real_app_id="@todayRecommendApp.Id" app_type="@todayRecommendApp.Style.ToString().ToLower()" class="btn-run">打开应用</a>
                        </text>
                    }
                    else
                    {
                        <text>
                            <a href="###" real_app_id="@todayRecommendApp.Id" class="btn-add">添加应用</a>
                        </text>
                    }
                }

            </div>
            <span class="star-box">
                <i style="width:@{var c = todayRecommendApp.AppStars*20; <text>@c%</text>}"></i>
            </span>
        </div>
        <div class="mbox develop">
            <h3>我是开发者</h3>
            <div class="developer">
                <p>开发者：@ViewData["UserName"]</p>
                <p>我开发的应用：<font style="font-weight:bold">@ViewData["allCount"]</font> 个</p>
                <p>未发布的应用：<font style="font-weight:bold">@ViewData["notReleaseCount"]</font> 个</p>
                <div class="text-center">
                    <a href="javascript:openDetailIframe2('/appmarket/userappmanage');" class="btn btn-primary">管理我的应用</a>
                    <a href="javascript:openDetailIframe2('/appmarket/userappmanage?appId=0');" class="btn btn-danger">开发新应用</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-main">
        <div class="mbox app-list-box">
            <div class="title">
                <ul>
                    <li class="focus" value="1"><a href="###">最新应用</a></li>
                    <li value="2"><a href="###">最热门</a></li>
                    <li value="3"><a href="###">最高评价</a></li>
                    <input type="hidden" name="order" id="order" value="1" />
                </ul>
            </div>
            <ul class="app-list"></ul>
            <nav aria-label="Page navigation example"></nav>
            <input id="pagination_setting" type="hidden" per="5" />
        </div>
    </div>
</div>

<div id="detailIframe" style="background:#fff;position:fixed;z-index:1;top:0;left:140px;right:0;height:100%;display:none">
    <iframe frameborder="0" style="width:100%;height:100%"></iframe>
</div>

@section ChildrenTemplate{
    <script id="li-template" type="text/x-handlebars-template">
        {{#each Model}}
        <li>
            <a href="javascript:openDetailIframe2('/appmarket/appdetail?appId={{Id}}');">
                <img src="{{IconUrl}}">
            </a>
            <a href="javascript:openDetailIframe2('/appmarket/appdetail?appId={{Id}}');" class="app-name">{{Name}}</a>
            <span class="app-desc">{{Remark}}</span>
            <span class="star-box">
                <i style="width:{{scoreWidth StarCount}}%;"></i>
            </span>
            <span class="star-num">{{parseScore StarCount}}</span>
            <span class="app-stat">{{UseCount}} 人正在使用</span>
            {{#if IsInstall }}
            <a href="###" app_id="{{Id}}" real_app_id="{{Id}}" app_type="app" class="btn-run-s" title="打开应用">打开应用</a>
            {{else}}
            <a href="###" real_app_id="{{Id}}" class="btn-add-s" title="安装应用">安装应用</a>
            {{/if}}
        </li>
        {{/each}}
    </script>
}
@section ScriptLabel
{
    <script src="~/js/pagelogic/appmarket_index.js"></script>
}