@using NewCrmCore.Dto 
<form action="/appmarket/create" method="post" name="form" id="form">
	<input type="hidden" id="isIconByUpload" name="isIconByUpload" value="0" />
	<input type="hidden" id="uniqueToken" name="uniqueToken" value="@ViewData["uniqueToken"]">
	<div class="creatbox">
		<div class="middle">
			<p class="detile-title">
				添加应用
			</p>
			<div class="input-label">
				<label class="label-text">应用图片：</label>
				<div class=" form-inline">
					<div class="shortcutview">
						<img src="/images/ui/system-gear.png">
					</div>
                    <div id="upload" class="ml-2 btn btn-outline-primary btn-sm" >选择图片</div>
					<div style="width:100%;">
					<div class="shortcut-selicon" style="margin-top:0px">
						<div class="title">系统推荐的图标：</div>
						<a href="###"><img src="/images/ui/system-gear.png" valsrc="/images/ui/system-gear.png"></a>
						<a href="###"><img src="/images/ui/system-users.png" valsrc="/images/ui/system-users.png"></a>
						<a href="###"><img src="/images/ui/system-wrench.png" valsrc="/images/ui/system-wrench.png"></a>
						<a href="###"><img src="/images/ui/system-star.png" valsrc="/images/ui/system-star.png"></a>
						<a href="###"><img src="/images/ui/system-shapes.png" valsrc="/images/ui/system-shapes.png"></a>
						<a href="###"><img src="/images/ui/system-chart-bar.png" valsrc="/images/ui/system-chart-bar.png"></a>
						<a href="###"><img src="/images/ui/system-document-edit.png" valsrc="/images/ui/system-document-edit.png"></a>
						<a href="###"><img src="/images/ui/system-documents.png" valsrc="/images/ui/system-documents.png"></a>
						<a href="###"><img src="/images/ui/system-mail.png" valsrc="/images/ui/system-mail.png"></a>
						<a href="###"><img src="/images/ui/system-puzzle.png" valsrc="/images/ui/system-puzzle.png"></a>
					</div>
					<input type="hidden" name="val_icon" id="val_icon" value="" datatype="*" nullmsg="请选择或上传应用图片">
					<span class="help-inline"></span>
					</div>
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用名称：</label>
				<div class="form-inline">
					<input type="text" class="text form-control" name="val_name" value="" datatype="s2-10" nullmsg="请输入应用名称" errormsg="应用名称长度为2-10个字符" ajaxurl="@Url.Action("CheckName","AppManager")">
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用分类：</label>
				<div class="form-inline">
					<select name="val_app_category_id" class="form-control input-group" style="height:20px" datatype="*" nullmsg="请选择应用分类">
						@{
							foreach (var appTypeDto in (List<AppTypeDto>)ViewData["AppTypes"])
							{
								<text>
									<option value="@appTypeDto.Id">@appTypeDto.Name</option>
								</text>
							}
						}
					</select>
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用地址：</label>
				<div class="form-inline">
					<input type="text" name="val_url" class="form-control" value="" style="width:300px" datatype="*" ajaxurl="@Url.Action("CheckUrl","AppManager")" nullmsg="请输入应用地址">
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">窗口大小：</label>
				<div class="form-inline">
					<div class="input-group mb3">
						<div class="input-group-prepend ">
							<span class="input-group-text">宽</span>
						</div>
							<input type="text" name="val_width" value="" class="form-control" style="width: 40px" datatype="n" nullmsg="请输入应用宽高" errormsg="宽高数值不规范">
						<div class="input-group-prepend ">
							<span class="input-group-text">px</span>
						</div>
					</div>

					<div class="input-group mb3">
						<div class="input-group-prepend " style="margin-left: 10px">
							<span class="input-group-text">高</span>
						</div>
							<input type="text" name="val_height" value="" class="form-control" style="width: 40px" datatype="n" nullmsg="请输入应用宽高" errormsg="宽高数值不规范">
						<div class="input-group-prepend " >
							<span class="input-group-text">px</span>
						</div>
					</div>
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用类型：</label>
				<div class="form-inline">
					<label class="radio" style="margin-right:10px">
						<input type="radio" name="val_type" value="app" checked="checked">应用
					</label>
					<label class="radio">
						<input type="radio" name="val_type" value="widget">挂件
					</label>
				</div>
			</div>
			<div class="input-label input-label-isresize">
				<label class="label-text">窗口是否拉伸：</label>
				<div class="form-inline">
					<label class="radio" style="margin-right:10px"><input type="radio" name="val_isresize" value="1" checked="checked">是</label>
					<label class="radio"><input type="radio" name="val_isresize" value="0">否</label>
				</div>
			</div>
			<div class="input-label input-label-isopenmax">
				<label class="label-text">打开默认最大化：</label>
				<div class="form-inline">
					<label class="radio" style="margin-right:10px"><input type="radio" name="val_isopenmax" value="1">是</label>
					<label class="radio"><input type="radio" name="val_isopenmax" value="0" checked="checked">否</label>
				</div>
			</div>
			<div class="input-label input-label-issetbar">
				<label class="label-text">是否有评分和介绍按钮：</label>
				<div class="form-inline">
					<label class="radio" style="margin-right:10px"><input type="radio" name="val_issetbar" value="1">是</label>
					<label class="radio" style="margin-right:10px"><input type="radio" name="val_issetbar" value="0" checked="checked">否</label>
				</div>
			</div>
			<div class="input-label input-label-isflash">
				<label class="label-text">是否为Flash：</label>
				<div class="form-inline">
					<label class="radio" style="margin-right:10px"><input type="radio" name="val_isflash" value="1">是</label>
					<label class="radio" style="margin-right:10px"><input type="radio" name="val_isflash" value="0" checked="checked">否</label>
					<span class="txt">[<a href="###" rel="tooltip" title="如何设置为Flash应用，当窗口非当前窗口时，会显示遮罩层">?</a>]</span>
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用介绍：</label>
				<div class="form-inline">
					<textarea class="textarea form-control" name="val_remark" id="val_remark" style="width:300px;height:100px;margin-bottom:10px"></textarea>
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">是否提交审核：</label>
				<div class="form-inline">
					<label class="radio" style="margin-right:10px"><input type="radio" name="val_verifytype" value="1" checked="checked">暂时不提交</label>
					<label class="radio"><input type="radio" name="val_verifytype" value="4">提交审核</label>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-bar">
		<div class="con">
			<a class="btn" id="btn-preview" href="###"><i class="icon-eye-open"></i> 预览应用</a>
			<a class="btn btn-primary fr" id="btn-submit" href="###"><i class="icon-white icon-ok"></i> 确定</a>
			<a class="btn fr" href="javascript:window.parent.closeDetailIframe();" style="margin-right:10px"><i class="icon-chevron-up"></i> 返回应用列表</a>
		</div>
	</div>
</form>
