@using NewCrmCore.Dto
@using NewCrmCore.Domain.ValueObject
@model AppDto
<form action="" method="post" name="form" id="form">
	<input type="hidden" id="uniqueToken" name="uniqueToken" value="@ViewData["uniqueToken"]">
	<div class="creatbox">
		<div class="middle">
			<p class="detile-title">
				@{
					if (Model.AppAuditState == AppAuditState.Pass)
					{
						<text>应用详情</text>
					}
					else if (Model.AppAuditState == AppAuditState.Wait)
					{
						<text>应用详情(审核中应用)</text>
					}
				}
			</p>
			<div class="input-label">
				<label class="label-text">应用图片：</label>
				<div class="form-inline">
					<img src="@(Model.IsIconByUpload?NewCrmCore.Infrastructure.Appsetting.FileUrl+Model.IconUrl:Model.IconUrl)">
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用名称：</label>
				<div class="form-inline">
					@Model.Name
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用分类：</label>
				<div class="form-inline">
					@Model.AppTypeName
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用地址：</label>
				<div class="form-inline">
					@Model.AppUrl
				</div>
				<input type="hidden" name="val_url" value="@Model.AppUrl" />
			</div>
			<div class="input-label">
				<label class="label-text">窗口大小：</label>
				<div class="form-inline">
					宽：@{
						var w = Model.Width;
						<text>@w px</text>
					}，

					高：@{
						var h = Model.Height;<text>@h px</text>
					}
				</div>
				<input type="hidden" name="val_width" value="@Model.Width" />
				<input type="hidden" name="val_height" value="@Model.Height" />
			</div>
			<div class="input-label">
				<label class="label-text">应用类型：</label>
				<div class="form-inline">

					@if (Model.AppStyle == AppStyle.App)
					{
						@:应用
					}
					else
					{
						@:挂件
					}

				</div>
			</div>
			<div class="input-label input-label-isresize" @{ if (Model.AppStyle == AppStyle.Widget) { <text> style="display:none" </text>  } }>
				<label class="label-text">窗口是否拉伸：</label>
				<div class="form-inline">
					@if (Model.IsResize)
					{
						<text>是</text>
					}
					else
					{
						<text>否</text>
					}
				</div>
			</div>
			<div class="input-label input-label-isopenmax" @{ if (Model.AppStyle == AppStyle.Widget || Model.IsResize == false) { <text> style="display:none" </text>  } }>
				<label class="label-text">打开默认最大化：</label>
				<div class="form-inline">
					@if (Model.IsOpenMax)
					{
						<text>是</text>
					}
					else
					{
						<text>否</text>
					}
				</div>
			</div>
			<div class="input-label input-label-isflash" @{ if (Model.AppStyle == AppStyle.Widget) { <text> style="display:none" </text>  } }>
				<label class="label-text">是否为Flash：</label>
				<div class="form-inline">
					@if (Model.IsFlash)
					{
						<text>是</text>
					}
					else
					{
						<text>否</text>
					}
				</div>
			</div>
			<div class="input-label">
				<label class="label-text">应用介绍：</label>
				<div class="form-inline">
					@Model.Remark
				</div>
			</div>

		</div>
	</div>
	<div class="bottom-bar">
		<div class="con">
			@if (Model.AppAuditState == AppAuditState.Pass && Model.AppReleaseState == AppReleaseState.UnRelease)
			{	
				<text>
						<a class="btn btn-success fl" id="btn-release" href="###" appid="@Model.Id"><i class="icon-white icon-ok"></i> 发布应用</a>
						&nbsp;
						&nbsp;
				</text>
			}

			<a class="btn btn-primary" id="btn-preview" href="###"><i class="oi oi-eye"></i> 预览应用</a>
			<a class="btn btn-primary fr" href="javascript:window.parent.closeDetailIframe();" style="margin-right: 10px"><i class="oi oi-chevron-top"></i> 返回应用列表</a>
		</div>
	</div>
</form>
