@model NewCrmCore.Dto.UserDto

@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
    var requestTarget = Context.Request.Query["target"];
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/webupload/webuploader.css" rel="stylesheet">
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
    <style>
        * {
            box-sizing: unset;
        }
    </style>
}

<div class="title">
    <ul>
        <li data-value="baseinfo" @{ if (requestTarget == "baseinfo") { <text> class="focus" </text>  } }>
            <a href="javascript:void(0);">基本信息</a>
        </li>

        <li data-value="usersafe" @{ if (requestTarget == "usersafe") { <text> class="focus" </text>  } }>
            <a href="javascript:void(0);">账号安全</a>
        </li>
    </ul>
</div>
<input type="hidden" id="indexUrl" value='@Url.Action("index", "usersetting")' />
<input type="hidden" id="uploadUrl" value="@(NewCrmCore.Infrastructure.Appsetting.UploadUrl)">
<input type="hidden" id="userId" value="@Model.Id">

@{
    if (Model != null)
    {
        switch (requestTarget)
        {
            case "baseinfo":
            {
                var result = @Html.RenderPartialAsync("~/Views/UserSetting/BaseInfo.cshtml", Model);
                break;
            }
            case "usersafe":
            {
                var result = @Html.RenderPartialAsync("~/Views/UserSetting/UserSafe.cshtml");
                break;
            }
            default:
            {
                var result = @Html.RenderPartialAsync("~/Views/UserSetting/BaseInfo.cshtml", Model);
                break;
            }
        }
    }
}

@section ChildrenScript
{
    @{
        if (String.IsNullOrEmpty(requestTarget))
        {
            <text>
                $('.title ul > li').first().addClass('focus');
            </text>
        }
    }
}
@section ScriptLabel
{
    <script src="/js/webupload/webuploader.min.js"></script>
    <script src="~/js/pagelogic/usersetting_index.js"></script>
}
