@using NewCrmCore.Dto
@{
	Layout = "~/Views/Shared/_LayoutRoot.cshtml";

	var account = ViewData["Account"] as AccountDto;
	var accountConfig = ViewData["AccountConfig"] as ConfigDto;
	var desks = (Int32)ViewData["Desks"];
}
@section IndexCss
{
	<link rel="stylesheet" href="/css/hoorayui/index.css" />

	<style>
		.pushNotifications-count{
			bottom: 50%;
			left: 50%;
			padding: 0 5px;
			font-size: 11px;
			color: #fff;
			background-color: #f1403c;
			border: 2px solid #fff;
			border-radius: 20px;
			margin-left: 5px;
			display: none;
		}
	</style>
}
<div class="loading"></div>
<div id="desktop">
	<div id="zoom-tip">
		<div><i>​</i>​<span></span></div><a href="javascript:void(0);" class="close" onclick="HROS.zoom.close();">×</a>
	</div>
	<div id="desk">
		@{
			for (int i = 1; i <= desks; i++)
			{
				<text>
					<div id="desk-@i" class="desktop-container">
						<div class="desktop-apps-container"></div>
						<div class="scrollbar scrollbar-x"></div>
						<div class="scrollbar scrollbar-y"></div>
					</div>
				</text>
			}
		}
		<div id="dock-bar">
			<div id="dock-container">
				<div class="dock-middle">
					<div class="dock-applist"></div>
					<div class="dock-tools-container">
						<div class="dock-tools">
							<a href="javascript:void(0);" class="dock-tool-setting" title="桌面设置"></a>
							<a href="javascript:void(0);" class="dock-tool-style" title="主题设置"></a>
						</div>
						<div class="dock-tools">
							<a href="javascript:void(0);" class="dock-tool-appmanage" title="全局视图，快捷键：Ctrl + F"></a>
							<a href="javascript:void(0);" class="dock-tool-search" title="搜索，Ctrl + F"></a>
						</div>
						<div class="dock-startbtn">
							<a href="javascript:void(0);" class="dock-tool-start" title="点击这里开始"></a>
						</div>
					</div>
					<div class="dock-pagination">
						@{
							for (int i = 1; i <= desks; i++)
							{
								<text>
									<a class="pagination pagination-@i" href="javascript:void(0);" index="@i" title="切换至桌面@{@i}，快捷键：Ctrl + @i">
										<span class="pagination-icon-bg"></span>
										<span class="pagination-icon pagination-icon-@i">@i</span>
									</a>
								</text>
							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="startmenu-container">
		<div class="startmenu-selfinfo">
			<a href="javascript:void(0);" class="startmenu-feedback" title="反馈"></a>
			<a href="javascript:void(0);" class="startmenu-lock" title="锁定，快捷键：Ctrl + L"></a>
			<div class="startmenu-avatar">
				<img src="@account.AccountFace">
			</div>
			<div class="startmenu-nick">
				<a href="###" title="编辑个人资料">
					@account.Name
				</a>
			</div>
		</div>
		<ul class="startmenu">
			<li><a href="javascript:void(0);" class="help">通知列表<span class="pushNotifications-count"></span></a></li>
			<li><a href="javascript:void(0);" class="about" style="display:none">关于 HoorayOS</a></li>
		</ul>
		<div class="startmenu-exit"><a href="javascript:void(0);" title="注销当前用户"></a></div>
	</div>
	<div id="task-bar-bg1"></div>
	<div id="task-bar-bg2"></div>
	<div id="task-bar">
		<div id="task-next"><a href="javascript:void(0);" id="task-next-btn" hidefocus="true"></a></div>
		<div id="task-content">
			<div id="task-content-inner"></div>
		</div>
		<div id="task-pre"><a href="javascript:void(0);" id="task-pre-btn" hidefocus="true"></a></div>
	</div>
	<div id="search-bar">
		<input id="pageletSearchInput" class="mousetrap" placeholder="搜索应用...">
		<input type="button" value="" id="pageletSearchButton" title="搜索...">
	</div>
	<div id="search-suggest">
		<ul class="resultBox"></ul>
		<div class="resultList openAppMarket"><a href="javascript:void(0);"><div>去应用市场搜搜...</div></a></div>
	</div>
</div>
<div id="appmanage">
	<a class="amg_close" href="javascript:void(0);"></a>
	<div id="amg_dock_container"></div>
	<div class="amg_line_x"></div>
	<div id="amg_folder_container">
		@{
			var width = 100 / desks;
			for (var i = 1; i <= desks; i++)
			{
				if (i == 1)
				{
					<div class="folderItem" style="width:@{<text>@width%</text>}" data-deskname="桌面@{@i}">
						<div class="folder_bg folder_bg folder_bg@{@i}"></div>
						<div class="folderOuter">
							<div class="folderInner" desk="@i"></div>
							<div class="scrollBar"></div>
						</div>
					</div>
				}
				else
				{
					<div class="folderItem" style="width:@{<text>@width%</text>}" data-deskname="桌面@{@i}">
						<div class="folder_bg folder_bg@{@i}"></div>
						<div class="folderOuter">
							<div class="folderInner" desk="@i"></div>
							<div class="scrollBar"></div>
						</div>
						<div class="amg_line_y"></div>
					</div>
				}
			}
		}
	</div>
</div>

@section ChildrenScript
{
	document.body.onselectstart = document.body.ondrag = function () {
		return false;
	};  

	HROS.CONFIG.dockPos = '@accountConfig.DockPosition';
	HROS.CONFIG.appXY = '@accountConfig.AppXy';
	HROS.CONFIG.appSize = parseInt('@accountConfig.AppSize');
	HROS.CONFIG.desk = parseInt(@accountConfig.DefaultDeskNumber);
	HROS.CONFIG.appHorizontalSpacing = '@accountConfig.AppHorizontalSpacing';
	HROS.CONFIG.appVerticalSpacing = '@accountConfig.AppVerticalSpacing';
	HROS.CONFIG.deskCount = parseInt('@desks');
	HROS.CONFIG.lockPwdAndLoginPwd = '@(account.Password==account.LockScreenPassword?1:0)'
	HROS.base.init();
	
	$(".loading").hide();
	$("#desktop").show();
}






