@using NewCrmCore.Dto
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";

    var userResult = ViewData["User"] as UserDto;
    var roles = ViewData["Roles"] as List<RoleDto>;
    if (userResult == null)
    {
        userResult = new UserDto();
    }

    var userId = Context.Request.Query["userId"];
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        * {
            box-sizing: unset;
        }
    </style>
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<form action="/UserManager/CreateUser" method="post" name="form" id="form" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="id" value="@(userId.FirstOrDefault()??"0")">
    <input type="hidden" id="uniqueToken" name="uniqueToken" value="@ViewData["uniqueToken"]">
    <div class="creatbox">
        <div class="middle">
            <p class="detile-title">
                <strong>编辑用户</strong>
            </p>
            <div class="input-label">
                <label class="label-text">用户名：</label>
                <div class="form-inline">
                    @{
                        if (userResult.Name == null)
                        {
                            <text>
                                <input type="text" class="form-control" name="val_username" datatype="s2-10" ajaxurl="@Url.Action("CheckName","UserManager")" nullmsg="请输入用户名" errormsg="用户名长度为2-10个字符">
                            </text>
                        }
                        else
                        {
                            <text>
                                <input type="text" class="form-control" readonly="readonly" name="val_username" value="@userResult.Name">
                            </text>
                        }
                    }
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="input-label">
                <label class="label-text">用户密码：</label>
                <div class="form-inline">
                    @{
                        if (userResult.Password == null)
                        {
                            <text>
                                <input type="password" class="form-control" name="val_password" datatype="*6-12" id="pwd" nullmsg="请输入用户密码" errormsg="用户密码长度为6-12个字符" />
                                <span class="help-inline"></span>
                            </text>
                        }
                        else
                        {
                            <text>
                                <input type="password" class="form-control" name="val_password" id="pwd" />
                                <span class="help-inline ml-3">[如果无需修改则不填]</span>
                            </text>
                        }
                    }
                </div>
            </div>
            <div class="input-label">
                <label class="label-text">用户类型：</label>
                <div class="form-inline">
                    @{
                        if (userResult.IsAdmin)
                        {
                            <text>
                                <label class="radio" style="margin-right: 10px">
                                    <input class="form-control" type="radio" name="val_type" value="1">用户
                                </label>

                                <label class="radio" style="margin-right: 10px">
                                    <input class="form-control" type="radio" name="val_type" value="2" checked="checked">管理员
                                </label>
                            </text>
                        }
                        else
                        {
                            <text>
                                <label class="radio" style="margin-right: 10px">
                                    <input class="form-control" type="radio" name="val_type" value="1" checked="checked">用户
                                </label>

                                <label class="radio" style="margin-right: 10px">
                                    <input class="form-control" type="radio" name="val_type" value="2">管理员
                                </label>
                            </text>
                        }
                    }
                </div>
            </div>
            <div class="input-label input-label-permission @{
                if (!userResult.IsAdmin)
                {
                     <text> hide </text>
                }
                else
                {
                     <text> show </text>
                }
                 }">
                <label class="label-text">用户角色：</label>
                <div class="form-inline">
                    @{
                        foreach (var item in roles)
                        {
                            if (userResult.Roles != null && userResult.Roles.Any(role => role.Id == item.Id))
                            {
                                <label class="checkbox" style="margin-right: 10px">
                                    <input class="form-control" type="checkbox" name="val_permission_id" id="@item.Id" checked="checked">
                                    @item.Name
                                </label>
                            }
                            else
                            {
                                <label class="checkbox" style="margin-right: 10px">
                                    <input class="form-control" type="checkbox" name="val_permission_id" id="@item.Id">
                                    @item.Name
                                </label>
                            }
                        }
                        <input type="hidden" name="val_roleIds" id="roleIds" value="@String.Join(",",userResult.Roles.Select(s=>s.Id).Intersect(roles.Select(a=>a.Id)))" />
                    }
                    <span class="help-inline"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="con">
            <a class="btn btn-primary fr" id="btn-submit" href="###"><i class="oi oi-check"></i> 确定</a>
            <a class="btn fr" href="javascript:window.parent.closeDetailIframe();" style="margin-right: 10px"><i class="oi oi-chevron-top"></i> 返回用户列表</a>
        </div>
    </div>
</form>
@section ScriptLabel
{
    <script src="~/js/pagelogic/usermanager_user.js"></script>
}

